# bak and temp files
*.bak
README.MD.bak
.*.js
.*.MD

# dotenv environment variables file
.env
!.env.example

# Dependency directories
node_modules/
jspm_packages/

# Output of 'npm pack'
*.tgz

# Compilation config and built files
rollup.config.js
build/
